h4.cell Character Set
paper-radio-group#set.cell(selected="alphabetic")
	paper-radio-button(name="numeric") Numeric
	paper-radio-button(name="alphabetic") Alphabetic
	paper-radio-button(name="alphanumeric") Alphanumeric
h4.cell Age
paper-slider.cell#age( pin value="20" min="1")

paper-button.cell#start(raised) START
