script(src="/bower_components/webcomponentsjs/webcomponents-lite.min.js")
link(rel="import" href="/bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html")
link(rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html")
link(rel="import" href="/bower_components/iron-icons/iron-icons.html")
link(rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html")
link(rel="import" href="/bower_components/paper-styles/color.html")
link(rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html")
link(rel='stylesheet', href='/stylesheets/global.css')
