doctype html
html
  head
    include header.jade
    include polymerjs.jade
    title= title
  include polymercss.jade
  body(unresolved)
    paper-scroll-header-panel(fixed)
      paper-toolbar
        img(src="/images/memori1.svg")
        
    .wrapper
      include test.jade
      include home.jade
      
      
