doctype html
html
  head
    include header.jade
    include polymerjs.jade
    title= title
  include polymercss.jade
  body(unresolved)
    paper-scroll-header-panel(fullbleed)
      paper-toolbar
        img(spacer src="/images/memori1.svg")
      .content
        sample-content(size = "100")
        
    .wrapper
      include test.jade
      include home.jade
      
      
