doctype html
html
  head
    include header.jade
    include polymerjs.jade
    title= title
  include polymercss.jade
  body(unresolved)
    paper-scroll-header-panel(fixed)
      paper-toolbar
        img(src="/images/memori1.svg")
        
    .wrapper
      paper-material.homebuttons.left(elevation ="1" animated)
        img(src="/images/test.svg")
      paper-material.homebuttons.right(elevation ="1" animated)
        img(src="/images/graph.svg")
      
