style(is= "custom-style").

  paper-scroll-header-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 1142.8571429px;
    background-color: var(--paper-grey-50);
    padding:0;
    margin:0;
  }px
  paper-toolbar {
    background-color: var(--paper-indigo-500, #4285f4);
  }
  paper-toolbar .title {
    margin: 0 8px;
  }
  paper-scroll-header-panel img {
    padding: 8px;
    height: 80%;
    width: auto;
    display:block;
    margin: auto;
  }
  
  paper-scroll-header-panel .content {
    padding: 8px;
  }
  
  paper-icon-button {
    --paper-icon-button-ink-color: white
    color: white
  }
  .spacer {
    @apply(--layout-flex);
  }
  
  .homebuttons {
    width: 35%;
    height: 100%;
    background-color: white;
    position: absolute;
    margin: 0;
    padding 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .homebuttons img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35%;
    width: auto;
    opacity: 0.38;
  }
  .left {
    left: 5%;
    right: 60%;
    //margin-left:8.333333333%;
  }
  .right {
    left: 60%;
    right: 5%;
    //margin-right:8.333333333%;
  }
  
  .test {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 70%;
    min-width: 70%;
    text-align: center;
    background-color: white;
  }
  
  .wrapper {
    position: absolute;
    top: 150px;
    left: 15%;
    right: 15%;
    width: 70%;
    margin: 0;
    padding: 0;
    min-width: 800px;
    height: 400px;
  }
  
  paper-radio-button {
        --paper-radio-button-checked-color: var(--paper-pink-a200);
        --paper-radio-button-checked-ink-color: var(--paper-pink-a200);
        --paper-radio-button-unchecked-color: var(--paper-pink-a400);
        --paper-radio-button-unchecked-ink-color: var(--paper-pink-a700);
      }

  paper-slider {
       --paper-slider-knob-color: var(--paper-pink-a200);
       --paper-slider-active-color: var(--paper-pink-a200);
       --paper-slider-pin-color: var(--paper-pink-a200);
       margin: 0 auto;
       width: 85%
     }
  .cell {
    display: block;
    margin: 0 auto;
    padding-top: 10px;  
  }
  
  paper-input.cell {
    display: block;
    width: 85%;
    margin: auto;
    //margin-top: 125px;
  }
  
  h1.cell#sequence {
    padding-top: 150px;
  }
  paper-button.cell {
    --paper-button-ink-color: var(--paper-pink-a200);
    background-color: var(--paper-indigo-500);
    color: white;
    display: block;
    width: 1%;
    margin: auto;
    margin-top: 50px;
  }
  paper-radio-group.cell {
    text-align: left;
    display: block;
    width: 20%;
    margin: 0 0 0 42%;
    padding-top: 10px;
    vertical-align: middle;
  }
  google-chart {
    height: 400px;
    width: 100%;
  }
  h4.cell {
    padding-top: 30px;
  }

  .hidden {
    display: none !important;
  }
