script.
	$(function () {
	window.addEventListener('WebComponentsReady', function() {
	$( ".homebuttons" ).hover(
	function() {
	$( this ).attr( "elevation","2" );
	}, function() {
	$( this ).attr( "elevation","1" );
	});			

	$( ".left" ).click(
	function() {
	$( ".homebuttons" ).addClass("hidden");
	$(".graph").addClass("hidden");
	$(".exam").addClass("hidden");
	$(".test").removeClass("hidden");
	$(".form").removeClass("hidden");
	});

	var done = true;
	$( ".right" ).click(
	function() {
	$( ".homebuttons" ).addClass("hidden");
	$(".form").addClass("hidden");
	$(".exam").addClass("hidden");
	$(".graph").removeClass("hidden");
	$.get('/plot',function(data, json){
	$("#sequence").html(sequence);
	$("#sequence").removeClass("hidden");
	chars = chars - sequence.length;
	$(".test").removeClass("hidden");
	if (data.data.length > 1) {
	document.querySelector('#plot').data = data.data;
	}
	else {
		document.querySelector('#plot').drawChart();
	}
	});
	});

	var hashidden = false;
	var sequence = "";
	var chars = 100;
	var total = 0;
	var i = 0;
	var correct = 0;
	
	$( "#start" ).click(function () {
	done = false;
	var set = document.querySelector('#set').selected;
	var age = document.querySelector('#age').immediateValue;
	$(".form").addClass("hidden");
	$(".exam").removeClass("hidden");
	$("#sequence").addClass("hidden");
	$("#guesser").addClass("hidden");
	hashidden =  true;
	var correct = 0;
	$.get('/generate', {"age": age, "set": set},function(data, json){
	sequence = data.sequence;
	$("#sequence").html(sequence);
	$("#sequence").removeClass("hidden");
	chars = chars - sequence.length;
	});
	i++;
	wait = (Math.random() * 3000) + 2000;
	total+=wait
	setTimeout(function () {
	$("#sequence").addClass("hidden");
	}, 1000);

	setTimeout(function () {
	$("#guesser").removeClass("hidden");
	hashidden =  false;
	}, wait);
	waiting = true;

	});
	
	$(document).keypress(function(e) {
		
		if(done) {
			$(".test").addClass("hidden");
			$( ".homebuttons" ).removeClass("hidden");
			$(".form").addClass("hidden");
			$(".graph").addClass("hidden");
			$(".exam").addClass("hidden");
		}
		
		
		
		if (chars <= 0 && e.which == 13 && !done) {
		var set = document.querySelector('#set').selected;
		var age = document.querySelector('#age').immediateValue;
		var guess = document.querySelector('#guesser').value;
		var min = Math.min(guess.length, sequence.length);
		for (var k= 0; k < min; k++) {
		if (guess.charAt(i) == sequence.charAt(i)) {
		correct++;
		}
		}
		var R = 0;
		if(set == "numeric") {
		R = 10;
		}
		if(set == "alphabetic") {
		R = 52;
		}
		if(set == "alphanumeric") {
		R = 62;
		}
		
		var score = (R/62.0)*(correct);
		time = total/(1000.0*i);
		$("#sequence").html(score);
		$("#guesser").addClass("hidden");
		$("#sequence").removeClass("hidden");
		hashidden =  true;
		done = true;
		
		$.ajax({type: "POST",url:"/record",data: {"time": time, "score": score, "age": age}})
	}
	if(e.which == 13 && !hashidden && !done) {
		var guess = document.querySelector('#guesser').value;
		var min = Math.min(guess.length, sequence.length);
		for (var k = 0; k < min; k++) {
		if (guess.charAt(i) == sequence.charAt(i)) {
		correct++;
		}
		}
		var set = document.querySelector('#set').selected;
		var age = document.querySelector('#age').immediateValue;
		$("#guesser").addClass("hidden");
		hashidden =  true;
		$.get('/generate', {"age": age, "set": set},function(data, json){
		sequence = data.sequence;
		$("#sequence").html(sequence);
		$("#sequence").removeClass("hidden");
		chars = chars - sequence.length;
		});
		i++;
		wait = (Math.random() * 3000) + 2000;
		total+=wait
		setTimeout(function () {
		$("#sequence").addClass("hidden");
		}, 1000);

		setTimeout(function () {
		$("#guesser").removeClass("hidden");
		hashidden =  false;
		}, wait);
		waiting = true;
	}
	});
	
	});
	});
