style(is= "custom-style").
  paper-scroll-header-panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--paper-grey-50);
  }
  paper-toolbar {
    background-color: var(--paper-indigo-500, #4285f4);
  }
  paper-toolbar .title {
    margin: 0 8px;
  }
  paper-scroll-header-panel img {
    padding: 8px;
    height: 80%;
    width: auto;
    display:inline-block;
    margin: auto;
  }
  paper-icon-button {
    --paper-icon-button-ink-color: white
    color: white
  }
  .spacer {
    @apply(--layout-flex);
  }
  
  .homebuttons {
    width: 35%;
    height: 100%;
    background-color: white;
  }
  
  .homebuttons img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35%;
    width: auto;
    opacity: 0.38;
  }
  .left {
    float: left;
    margin-left:8.333333333%;
  }
  .right {
    float: right;
    margin-right:8.333333333%;
  }
  
  .wrapper {
    position: absolute;
    top: 150px;
    right: 15%;
    right: 15%;
    width: 70%;
    height: 400px;
  }
